<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>welcome</title>
</head>
<body>
    <div id="header">
        <h1>111</h1>
    </div>
    <div id="nav">
        MAKE<br>
        EDIT<br>
    </div>
    <div id="section">
        <form action="/audit/submit/" method="get">
            <p>名称</p>
            <input type="text" name="name" size="20"/>
            </br></br>
            <input type="text" name="audit1" size="20"/>
            <select name="type1">
                <option value="yes">yes</option>
                <option value="no">no</option>
            </select>
            </br></br>
            <input type="text" name="audit2" size="20"/>
            <select name="type2">
                <option value="yes">yes</option>
                <option value="no">no</option>
            </select>

            <input type="submit" value="submit">
{#            name:<br>#}
{#            <input type="text" name="name"><br>#}
{#            description:<br>#}
{#            <input type="text" name="description"><br>#}
{##}
{#            <input type="submit" value="Edit">#}
        </form>
    </div>
    <div id="footer">

    </div>
</body>
</html>